<div class="account">
  <h1>This is your <%= account.name %> account:</h1>
  <h3>Balance: $<%= number_with_delimiter('%.2f' % account.balance, :delimiter => ',') %></h3>
  <h2><%= "This is a credit account." if account.credit_account %></h2>
  <h2><%= "This is a debit account." if !account.credit_account %></h2><br>
  <h3><%= link_to "Add Transaction To Your Account", new_account_transaction_path(account) %><h3>
  <h3><%= link_to "Show Account Transactions And Details", account %></h3>
  <h3><%= link_to "Edit Account", edit_account_path(account) %></h3>
</div><br>
