<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>
<% if @budget && @budget.user_id == current_user.id %>
<h1>Budget Description: <%= @budget.name %></h1>
<h1><%= "You've overspent on this budget." if @budget.overspent %><br><h1>
<h1>Limit: $<%= '%.2f' % @budget.limit %><br></h1>
<h3>Category: <%= @budget.category %><br></h3>
<h3>Start: <%= @budget.start.strftime("%A,  %B %e, %Y") %></h3>
<h3>End: <%= @budget.end.strftime("%A,  %B %e, %Y") %></h3><br>

  <p><%= link_to "Edit Budget", edit_budget_path(@budget) %><br></p>
  <h2><%= link_to "New Budget", new_budget_path(@budget) %><br></h2>
<% else %>
<h1>You can only see your Budgets!</h1>
<h1><%= link_to "Redirect To Your Budgets Here", user_budgets_path(current_user) %><br></h1>
<% end  %>
